 .u-section-1 {
  background-image: url("images/0b371d95-cef3-309c-0783-7dfc0a6d54d4.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 797px;
}

.u-section-1 .u-icon-1 {
  width: 93px;
  height: 93px;
  margin: 9px auto 0 222px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: bold;
  margin: -52px auto 0 324px;
}

.u-section-1 .u-group-1 {
  width: 835px;
  min-height: 655px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 8px auto 32px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 511px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin: 0 30px;
}

.u-section-1 .u-shape-2 {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
  margin: 0 30px;
}

.u-section-1 .u-shape-3 {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
  margin: 0 30px;
}

.u-section-1 .u-form-1 {
  height: 107px;
  width: 570px;
  margin: 40px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 282px;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 12px 204px 0 auto;
  padding: 10px 42px 10px 40px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 199px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 267px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 205px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -183px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 89px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 84px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 167px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 154px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 97px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}